{% extends "base.html" %} 
{% block title %} Edit Item {% endblock %} 
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <form method="post" action='{{url_for("editItemPage", item_name=item.name, category_name=item.category.name)}}'>
                <h2>Edit Item</h2>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" value="{{item.name}}" name="name">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" rows="5" name="description">{{item.description}}</textarea>
                </div>
                <div class="form-group">
                    <label>Category</label>
                    <select class="form-control" name="category_name">
                        {% for cat in cats %}
                            <option value="{{cat.name}}" {% if item.category_id==cat.id %}selected="selected"{% endif %}>{{cat.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>






{% endblock %}
